.button {
    -fx-background-size: 32px 32px; /* Kích thước của biểu tượng */
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.play-button {
    -fx-background-size: 32px 32px; /* Kích thước của biểu tượng */
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.exit-button {
    -fx-background-size: 32px 32px; /* Kích thước của biểu tượng */
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.help-button {
    -fx-background-size: 32px 32px; /* Kích thước của biểu tượng */
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.back-button{
    -fx-background-size: 32px 32px; /* Kích thước của biểu tượng */
    -fx-background-position: center; /* Căn giữa biểu tượng */
    -fx-background-color: #111; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}

