.button{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

/*.play-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
.exit-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
.help-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
.back-button{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
