.button {
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.play-button {
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.exit-button {
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.help-button {
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
.back-button{
    -fx-background-color: transparent; /* Xóa nền của button */
    -fx-border-width: 0; /* Xóa viền của button */
    -fx-padding: 0;
}
